@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Customer Trend Ninja</h2>
    <p class="lead">Provide a quick analysis of customer sentiment and trend with SQL DB topics</p>
</div>

<div>@ViewBag.Message</div>

<div class="row">
    <div class="col-md-12">
        <h2>Login</h2>
        <form method="post" action="~/Home/Login">
            <div><input type="text" name="alias" placeholder="alias"></div>
            <div><input type="text" name="phone" placeholder="phone"></div>
            <div><input type="submit" value="submit"/></div>
        </form>
    </div>
</div>